{% include "header.html" %}

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
					<a class="navbar-brand" href="#">
						<img class="img-responsive" style="margin-top: -10px;" src="/media/images/hippod-logo-40.png">
						<span class="padding10">HippoD - Test Aggregator</span>
					</a>
			</div>
		</div>
	</nav>
	<div class="container-fluid">


		<!-- Modal -->
		<div class="modal fade" id="error-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-wide" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title" id="myModalLabel">Oh snap! You got an error!</h3>
					</div>
					<div class="modal-body">
						<div class="alert alert-danger" role="alert">
							<h4>
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							Cannot connect to server!?
							</h4>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal end -->




		<div class="row row-offcanvas row-offcanvas-left">

			<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
				<ul class="nav nav-sidebar">
					<li><a href="/">Dashboard</a></li>
					<li><a href="/overview">Overview</a></li>
					<li><a href="/items">Items</a></li>
					<li class="active"><a href="#">Admin</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-md-10 main">





			<ul class="nav nav-tabs">
					<li><a href="#tab1" data-toggle="tab">Resources</a></li>
					<li><a href="#tab2" data-toggle="tab">Hide Items & Submitter</a></li>
					<li><a href="#tab3" data-toggle="tab">By Responsibility</a></li>
			</ul>


			<div class="tab-content" id="tabs">




				<div class="tab-pane" id="tab1">




				<h3>Disk Usage</h3>
				<p>
				<div id="usage-data"></div>
				</p>



				</div> <!-- tab -->

				<div class="tab-pane" id="tab2">
					2
				</div> <!-- tab -->

				<div class="tab-pane" id="tab3">
					3
				</div> <!-- tab -->
			</div> <!-- tabs -->         








			</div>

		</div><!--/row-->

{% include "footer.html" %}
