{% include "header.html" %}

<style>
.item-group {

}

.item-container:nth-child(odd) {
	    background: #FAFAFA;
}



.item-container
{
	margin-top: 10px;
	margin-bottom: 10px;
	background: #FDFDFD;
	border: 1px solid #DDD;
	        border-radius: 5px;
	   -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
		overflow: hidden;
				width: 100%;
					width: auto;
}

.item-container:hover
{
 background: #f1f1f1;
}

.attachment-result
{
	width: 15px;
  min-height: 120px;
	background-color:#5BC394;
	float:left;
}
.item-data
{
	display:block;
	vertical-align: middle;
	width: auto;
	text-align:center
}
.item-container-title
{
	display:block;
	vertical-align: middle;
	width: auto;
	border-bottom: 1px solid #ccc;
  background-color:#F2F2F2;
  text-align: center;
  font-size: 120%;
  padding: 4px;
}

.item-data-left
{
	float:left;
	text-align:left;
  margin: 5px;
  font-size: 80%;
  word-break:break-all;
}
.item-data-middle
{
	text-align:left;
	margin:5px auto !important; 
	display:inline-block;
  margin: 5px;
  font-size: 80%;
  word-break:break-all;

}
.item-data-right
{
	float:right;
	text-align:left;
  margin: 5px;
  font-size: 80%;
  word-break:break-all;
}







</style>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
					<a class="navbar-brand" href="#">
						<img class="img-responsive" style="margin-top: -10px;" src="/media/images/hippod-logo-40.png">
						<span class="padding10">HippoD - Test Aggregator</span>
					</a>
			</div>
		</div>
	</nav>

	<div class="container-fluid">

		<div class="row row-offcanvas row-offcanvas-left">

			<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
				<ul class="nav nav-sidebar">
					<li><a href="/">Dashboard</a></li>
					<li><a href="/overview">Overview</a></li>
					<li class="active"><a href="#">Items</a></li>
					<li><a href="/admin">Admin</a></li>
				</ul>
			</div><!--/span-->

			<div class="col-sm-9 col-md-10 main">
			<ul class="nav nav-tabs">
					<li><a href="#tab1" data-toggle="tab">By Time</a></li>
					<li><a href="#tab2" data-toggle="tab">By Category</a></li>
					<li><a href="#tab3" data-toggle="tab">By Responsibility</a></li>
					<li><a href="#tab4" data-toggle="tab">By Submitter</a></li>
					<li><a href="#tab5" data-toggle="tab">By Tags</a></li>
			</ul>


			<div class="tab-content" id="tabs">

				<div class="tab-pane" id="tab1">

<br /> <br /> <br /> 

			<div class="alert alert-info" role="alert">
				Show items listed by sorted by newest achievements (tested)!</div>

			<div class='row'>
				    <div class="col-xs-8">



		<div class="item-group">
		  <div id="fooooo"></div>
		</div> <!-- item-group -->

							</div>



						    <div class="col-xs-4">


		<div id="items-statistic"></div>
Failed: 50<br />
Succeed: 100<br />
NaN: 20<br />
<div id="doughnutChart" class="chart"></div>
								
								</div>
			</div>









				</div>
				<div class="tab-pane" id="tab2">
					<ol class="breadcrumb">
						<li><a href="#">▶</a></li>
						<li><a href="#">team:red</a></li>
						<li><a href="#">topic:ip</a></li>
						<li><a href="#">subtopic:routing</a></li>
					</ol>

					<ul class="nav nav-pills" role="tablist">
						<li role="presentation"><a href="#">subsubtopic:foo<span class="badge">42</span></a></li>
						<li role="presentation"><a href="#">subsubtopic:bar<span class="badge">0</span></a></li>
						<li role="presentation"><a href="#">subsubtopic:foobar<span class="badge">3</span></a></li>
					</ul>

				</div> <!-- tab2 -->
				<div class="tab-pane" id="tab3">









<div class="container">
    <div class="page-header">
        <h1 id="timeline">Timeline</h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
            </div>
            <div class="timeline-body">
							<p>
								Foo Bar Foo Bar Foo Bar
							</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
							<p>
								Foo Bar Foo Bar Foo Bar
							</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
							<p>
								Foo Bar Foo Bar Foo Bar
							</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
							<p>
								Foo Bar Foo Bar Foo Bar
							</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
							<p>
								Foo Bar Foo Bar Foo Bar
							</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
							<p>
								Foo Bar Foo Bar Foo Bar
							</p>
            </div>
          </div>
        </li>
    </ul>
</div>






				</div> <!-- tab2 -->

				<div class="tab-pane" id="tab4">
					4
				</div> <!-- tab2 -->

				<div class="tab-pane" id="tab5">
					5
				</div> <!-- tab2 -->


			</div> <!-- tabs -->         
			</div><!--/row-->

{% include "footer.html" %}
