* {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #eee;
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
    position: relative;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
		z-index: 2000;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #444;
}

.sidebar-nav  .active_nav {
    background: #ddd;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #111;
    background: rgba(255,255,255,0.8);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    background-color: #1F8DFF;
}

.sidebar-nav > .sidebar-brand a {
    color: #fafafa;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.mainbar {
	height: 65px;
	background-color: #f6f6f6;
	width: 100%;
	margin-bottom:0px;
	padding-top:10px;
	padding-left:100px;
	font-size: 30px;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
}

.container-fluid {
	  padding-right: 0px;
	  padding-left: 0px;
}

.main-content-container {
	padding: 20px;
}

.controll-container {
	padding: 20px;
	background-color: #fbfbfb;
	width: 100%;
	margin-bottom: 10px;
}

.filter-display-box {
	border-radius: 5px;
	background-color: #F5F5F5;
	padding: 10px;
}

.inner-filter-display-box {
  font-size: 90%;
}


/* styles for verbose item data */
.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    overflow: hidden;

    margin-bottom: 10px;
    border-radius: 3px;
		border: 1px solid #ddd;
}

.container > a:link, a:hover, a:active , a:visited   {
    text-decoration: none;
    color: #000;
}

.alert{
    padding: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.item-container > .status-area {
  flex-basis: 4px;
}

.status-area-success {
  background-color: #4CAF50;
}
.status-area-failure {
  background-color: #ff0000;
}
.status-area-exception {
  background-color: #FF9800;
}
.status-area-nonapplicable {
  background-color: #2196F3;
}
.status-area-nontest {
  background-color: #A1887F;
}

.item-container > .item-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    flex: 1;
    overflow: visible;
}

.item-container > .item-main > .header {
	font-size: 90%;
	margin: 5px;
}

.item-container > .item-main > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: stretch;
		font-size: 90%;
}

.item-container > .item-main > .content > .achievements  {
    flex: 1;
    padding: 5px;
}

.item-container > .item-main > .content > .attachments  {
    flex: 1;
    padding: 5px;
}

.item-container > .item-main > .content > .item-data  {
    flex: 1;
    padding: 5px;
}

.list-group-item {
	font-family: 'Lato', sans-serif;
  font-size: 90%;
}


/* item container condensed */
.alignleft {
	float: left;
	margin: 0px;
  font-size: 110%;
  font-weight: 600;
}
.alignright {
	float: right;
	margin: 0px;
  font-size: 95%;
}

.header-seperator {
	border-bottom: 1px dotted #eee;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 12px;
}

.test-success-indicator {
	border-left-color: #4CAF50;
	border-left-width: 5px;
}

.test-failure-indicator {
	border-left-color: #ff0000;
	border-left-width: 5px;
}
.test-exception-indicator {
	border-left-color: #ff9005;
	border-left-width: 5px;
}
.test-nonapplicable-indicator {
	border-left-color: #2196F3;
	border-left-width: 5px;
}
.test-nontest-indicator {
	border-left-color: #A1887F;
	border-left-width: 5px;
}

/* fixed logo */

#hippod-logo {
	background-image:url("../images/hippod-logo-100.png");
	background-repeat:no-repeat;
	position: fixed;
	position: absolute;
	height: 100%;
	width: 100%;
	background-position: bottom 50px center;
}

#hippod-logo:hover {
	background-image:url("../images/hippod-logo-ear-100.png");
}

.inline {
	display:inline;
}

.fooo {
	padding: 20px;
}

/* the default over hovered boxed is a little bit unreadable - reset it */
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #000;
    text-decoration: none;
    background-color: #f6f6f6;
}

/* progress bar do not look good in tables */
.progress {
	margin-bottom: 0px;
}

.markdown-env h1 {
	font-size: 160%;
}

.markdown-env h2 {
	font-size: 130%;
}
.markdown-env h3 {
	font-size: 130%;
}
.markdown-env h4 {
	font-size: 130%;
}
.markdown-env h5 {
	font-size: 130%;
}

.markdown-env img {
	display: block;
	height: auto;
	max-width: 100%;
}

/* achievement box at item page */
.variety-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}


.variety-entry {
  flex-grow: 1;
  min-width: 300px;
  max-width: 500px;
  min-height: 400px;
  margin: 20px;
  background-color: #CECECE;
	box-shadow: 3px 3px 3px #888888;
	padding-bottom: 10px;
}

.variety-header-box {
	  color: #FBFBFB;
    background-color: #676767;
    text-align: center;
    border-radius: 2px;
    font-size: 100%;
    border: thin solid #5D5D5D;
		min-height: 80px;
		padding: 0px 10px 0px 10px;
}

.variety-header-title {
    border-bottom: thin dotted #555;
    font-size: 110%;
}


.achievement-box {
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 90%;
    border: thin solid #B7B7B7;
    margin: 20px 5px; 20px; 5px;
    padding: 5px;
}

.inverted-rounded-box {
    background-color: #E6E6E6;
		color: #6F6F6F;
    border-radius: 3px;
    font-size: 90%;
    margin: 10px 0px 10px 0px;
    padding: 5px 5px 5px 5px;
}

.sunburn-body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 960px;
  height: 700px;
  margin-top: 10px;
}

#sunburn-main {
  float: left;
  width: 750px;
  height: 35px
}

#sunburn-sidebar {
  float: left;
  width: 200px;
}

#sunburn-sequence {
  width: 600px;
  height: 50px;
}

#sunburn-legend {
  padding: 10px 0 0 3px;
}

#sunburn-sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#sunburn-chart {
  position: relative;
}

#sunburn-chart path {
  stroke: #fff;
}

#sunburn-explanation {
  position: relative;
  top: 90px;
  left: 80px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#sunburn-percentage {
  font-size: 1em;
}
