* {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #eee;
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
    position: relative;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
		z-index: 2000;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #444;
}

.sidebar-nav  .active_nav {
    background: #ddd;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #111;
    background: rgba(255,255,255,0.8);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    background-color: #1F8DFF;
}

.sidebar-nav > .sidebar-brand a {
    color: #fafafa;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.mainbar {
	height: 65px;
	background-color: #f6f6f6;
	width: 100%;
	margin-bottom:0px;
	padding-top:10px;
	padding-left:100px;
	font-size: 30px;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
}

.container-fluid {
	  padding-right: 0px;
	  padding-left: 0px;
}

.main-content-container {
	padding: 20px;
}

.controll-container {
	padding: 20px;
	background-color: #f6f6f6;
	width: 100%;
	margin-bottom: 20px;
}

/* button styling */

.btn, .btn-flat, .btn-floating {
	position: relative;
	margin: 0px;
}



.primary-color{background-color:#4285F4}.primary-color-dark{background-color:#0d47a1}.secondary-color{background-color:#a6c}.secondary-color-dark{background-color:#93C}

.btn, .btn-floating, .card, .card-panel, .dropdown-content, .dropdown-menu, .panel-group, .z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.btn-floating:hover,.btn:hover,.z-depth-1-half{box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)}
.btn-primary:focus,.btn-primary:hover{background-color:#5a95f5!important;color:#fff}.btn-success{background-color:#00c853}.btn-success:focus,.btn-success:hover{background-color:#00e25e!important;color:#fff}.btn-info{background-color:#03A9F4}.btn-info:focus,.btn-info:hover{background-color:#14b4fc!important;color:#fff}.btn-warning{background-color:#FF5722}.btn-warning:focus,.btn-warning:hover{background-color:#ff6a3c!important;color:#fff}.btn-danger{background-color:#d32f2f}.btn-danger:focus,.btn-danger:hover{background-color:#d74444!important;color:#fff}.btn-link,.btn-link:focus,.btn-link:hover{background-color:transparent}.btn-link{color:#000}.btn-xlg{padding:18px 24px;font-size:21px}.btn-lg{padding:14px 20px;font-size:18px}
btn:visited {background-color:#03A9F4}

.btn-primary {
    background-color: #4285F4;
}

.btn-default:hover{background-color:#30cfc0!important;color:#fff!important}

.btn-default {
	color: #fff;
	background-color: #30cfc0!important;
	color: #fff!important;
  padding: 5px 10px!important;
  line-height: 20px!important;
}

.btn {
    line-height: 31px;
    padding: 5px 22px;
    border: 0;
    border-radius: 2px;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
}
.btn, .btn-flat, .btn-floating {
    position: relative;
    margin: 0px;
}
.btn, .btn-floating, .card .card-title.activator {
    cursor: pointer;
}
.btn, .btn-flat, .card .card-action a {
    text-transform: uppercase;
}
.btn, .btn-flat {
    text-decoration: none;
    outline: 0!important;
}


.btn:hover{
}

/* styles for verbose item data */
.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    overflow: hidden;

    margin-bottom: 10px;
    border-radius: 3px;
		border: 1px solid #ddd;
}

.container > a:link, a:hover, a:active , a:visited   {
    text-decoration: none;
    color: #000;
}

.item-container > .status-area {
  flex-basis: 4px;
}

.status-area-success {
  background-color: #4CAF50;
}
.status-area-failure {
  background-color: #ff0000;
}
.status-area-nonapplicable {
  background-color: #2196F3;
}
.status-area-nontest {
  background-color: #A1887F;
}

.item-container > .item-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    flex: 1;
    overflow: visible;
}

.item-container > .item-main > .header {
	font-size: 90%;
	margin: 5px;
}

.item-container > .item-main > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: stretch;
		font-size: 90%;
}

.item-container > .item-main > .content > .achievements  {
    flex: 1;
    padding: 5px;
}

.item-container > .item-main > .content > .attachments  {
    flex: 1;
    padding: 5px;
}

.item-container > .item-main > .content > .item-data  {
    flex: 1;
    padding: 5px;
}

.list-group-item {
	font-family: 'Lato', sans-serif;
  font-size: 90%;
}


/* item container condensed */
.alignleft {
	float: left;
	margin: 0px;
  font-size: 105%;
  font-weight: 600;
}
.alignright {
	float: right;
	margin: 0px;
  font-size: 95%;
}

.header-seperator {
	border-bottom: 1px dotted #eee;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 12px;
}

.test-success-indicator {
	border-left-color: #4CAF50;
	border-left-width: 4px;
}

.test-failure-indicator {
	border-left-color: #ff0000;
	border-left-width: 4px;
}
.test-nonapplicable-indicator {
	border-left-color: #2196F3;
	border-left-width: 4px;
}
.test-nontest-indicator {
	border-left-color: #A1887F;
	border-left-width: 4px;
}

/* fixed logo */

#hippod-logo {
	background-image:url("../images/hippod-logo-100.png");
	background-repeat:no-repeat;
	position: fixed;
	position: absolute;
	height: 100%;
	width: 100%;
	background-position: bottom 50px center;
}

#hippod-logo:hover {
	background-image:url("../images/hippod-logo-ear-100.png");
}

.inline {
	display:inline;
}

.fooo {
	padding: 20px;
}

/* the default over hovered boxed is a little bit unreadable - reset it */
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #000;
    text-decoration: none;
    background-color: #f6f6f6;
}

.filter-display-box {
	border-radius: 5px;
	background-color: #EEEEEE;
	padding: 10px;
}

.inner-filter-display-box {
  font-size: 90%;
}

/* progress bar do not look good in tables */
.progress {
	margin-bottom: 0px;
}

.markdown-env h1 {
	font-size: 160%;
}

.markdown-env h2 {
	font-size: 130%;
}
.markdown-env h3 {
	font-size: 130%;
}
.markdown-env h4 {
	font-size: 130%;
}
.markdown-env h5 {
	font-size: 130%;
}
