<div class="mainbar">Admin Area
</div>

<div class="main-content-container">

	<div class="row">
		<div class="col-sm-4">
			<h4>Database Disk Consumption</h4> <hr>
			Database Usage: {{ overall_data_byte_human }} ({{ overall_data_byte_vanilla }} byte)
		</div> <!-- col-sm-6 -->

		<div class="col-sm-4">
			<h4>Database Disk Consumption</h4> <hr>
			Database Usage: {{ overall_data_byte_human }} ({{ overall_data_byte_vanilla }} byte)
		</div>
		<div class="col-sm-4">
			<h4>Database Disk Consumption</h4> <hr>
			Database Usage: {{ overall_data_byte_human }} ({{ overall_data_byte_vanilla }} byte)
		</div>

</div>

