<div class="mainbar">Admin Area
</div>

<div class="main-content-container">

	<div class="row">
		<div class="col-sm-4">

			<h4>Data Compression Ratio</h4>
			<hr>
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th>Mime Type</th>
						<th>Data Compression [%]</th>
					</tr>
				</thead>
				<!--
				<tbody>
						<tr ng-repeat="entry in mimetype_compression">
							<td ng-repeat-start="items in entry"> {{items}}<td>
							<td ng-repeat-end></td>
						</tr>
				</tbody>
				-->
			</table>

		</div> <!-- col-sm-4 -->
		<div class="col-sm-4">
			<h4>Database Disk Consumption</h4> <hr>
			Database Usage: {{ overall_data_byte_human }} ({{ overall_data_byte_vanilla }} byte)
		</div>
		<div class="col-sm-4">
		</div>

</div>

<div class="row">
	<div class="col-sm-12">
			<h4>Database Disk Consumption</h4> <hr>
			<nvd3 options="options" data="data"></nvd3>
	</div>
</div>
