<div class="mainbar">Items
</div>

<div class="main-content-container">
	<div class="controll-container">

		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle"
												 data-toggle="dropdown" aria-haspopup="true"
																		aria-expanded="false">
				Maturity Level: stable <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">All</a></li>
				<li><a href="#">Testing</a></li>
				<li><a href="#">Stable</a></li>
				<li role="separator"
				class="divider"></li>
				<li><a href="#">Outdated</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle"
												 data-toggle="dropdown" aria-haspopup="true"
																		aria-expanded="false">
				Result: all <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">All</a></li>
				<li><a href="#">Passed</a></li>
				<li><a href="#">Failed here</a></li>
				<li><a href="#">Non Applicable</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle"
												 data-toggle="dropdown" aria-haspopup="true"
																		aria-expanded="false">
				Submitter: all <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">All</a></li>
				<li><a href="#">Passed</a></li>
				<li><a href="#">Failed here</a></li>
				<li><a href="#">Non Applicable</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle"
												 data-toggle="dropdown" aria-haspopup="true"
																		aria-expanded="false">
				Responsible: all <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">All</a></li>
				<li><a href="#">Passed</a></li>
				<li><a href="#">Failed here</a></li>
				<li><a href="#">Non Applicable</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle"
												 data-toggle="dropdown" aria-haspopup="true"
																		aria-expanded="false">
				Anchor <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">All</a></li>
				<li><a href="#">Passed</a></li>
				<li><a href="#">Failed here</a></li>
				<li><a href="#">Non Applicable</a></li>
			</ul>
		</div>

		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle"
												 data-toggle="dropdown" aria-haspopup="true"
																		aria-expanded="false">
				Sorting: last tested <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Last Tested</a></li>
				<li><a href="#">Last Untested</a></li>
				<li><a href="#">Newest Tests</a></li>
			</ul>
		</div>




    <span ng-switch on="condensed">
        <span class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-default" ng-switch-when='true' ng-click='button1()'>condensed</button>
        <button type="button" class="btn btn-default" ng-switch-when='false' ng-click='button2()'>verbose</button>
        </span>
    </span>







	</div> <!-- controll-container -->
	<div class="row">
		<div class="col-sm-8" ng-switch on="condensed">


			<!-- verbose version -->
			<div ng-switch-when='false'>
					<div ng-repeat="items in data">
            <a href="#" ng-click='open(items["object-item-id"])'>
							<div class="item-container">
								<div class="status-area"></div>
								<div class="item-main">
									<div class="header">
										{{ items["object-item"]['title'] }}
									</div>
									<div class="content">
										<div class="achievements">
											achievementssdfsfsfsdfsdfsdfs dsd sd sd sd sd dss
										</div>
										<div class="attachments">
											attachments
										</div>
										<div class="item-data">
											item-data<br />
											item-data<br />
											item-data<br />
										</div>
									</div>
								</div>
							</div>
            </a>
					</div>
			</div>

			<!-- condensed version -->
			<div ng-switch-when='true'>
				<div class="list-group">
					<div ng-repeat="items in data">

						<div ng-switch on='items["object-achievements"]["test-result"]'>
							<div ng-switch-when="passed">
								<a href="#" ng-click='open(items["object-item-id"])' class="list-group-item test-success-indicator">
									<p class="alignleft">{{ items["object-item"]['title'] }}</p>
									<p class="alignright">{{ items["object-item-id"] }}</p>
									<div style="clear: both;"></div>
									<div class="header-seperator"></div>
									{{items}}
								</a>
							</div>
							<div ng-switch-when="failed">
								<a href="#" ng-click='open(items["object-item-id"])' class="list-group-item test-failure-indicator">
									<p class="alignleft">{{ items["object-item"]['title'] }}</p>
									<p class="alignright">{{ items["object-item-id"] }}</p>
									<div style="clear: both;"></div>
									<div class="header-seperator"></div>
									{{items}}
								</a>
							</div>
							<div ng-switch-when="nonapplicable">
								<a href="#" ng-click='open(items["object-item-id"])' class="list-group-item test-nonapplicable-indicator">
									<p class="alignleft">{{ items["object-item"]['title'] }}</p>
									<p class="alignright">{{ items["object-item-id"] }}</p>
									<div style="clear: both;"></div>
									<div class="header-seperator"></div>
									{{items}}
								</a>
							</div>
							<div ng-switch-default>
								<a href="#" ng-click='open(items["object-item-id"])' class="list-group-item test-nontest-indicator">
									<p class="alignleft">{{ items["object-item"]['title'] }}</p>
									<p class="alignright">{{ items["object-item-id"] }}</p>
									<div style="clear: both;"></div>
									<div class="header-seperator"></div>
									{{items}}
								</a>
							</div>
						</div>


					</div>
				</div>
			</div>


		</div> <!-- col-sm-6 -->

		<div class="col-sm-4">

			<div class="list-group">
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Statistics for Selection</h4>
					<p class="list-group-item-text">
					Number of tests: {{ numberItems }}
					</p>
					<p class="list-group-item-text">
					Number of Submitter:
					</p>
					<p class="list-group-item-text">
					Number of Responsibility:
					</p>
					<p class="list-group-item-text">
					Newest test: {{ testDateYoungest }}
					</p>
					<p class="list-group-item-text">
					Oldest test: {{ testDateOldest }}
					</p>
				</li>

				<li class="list-group-item">
					<h4 class="list-group-item-heading">Results</h4>
					Passed: {{ passedAchievements }}<br>
					Failed: {{ failedAchievements }}<br>
					Non Applicable: {{ nonApplicableAchievements }}<br>
					Never tested: {{ noAchievements }}<br>

					<div ng-controller="ItemsCtrl"> 
						<nvd3-pie-chart
					  		data="exampleData2"
		 						id="exampleId"
				 			  width="350"
		            height="350"
	              color="colorFunction()"
	              x="xFunction()"
                y="yFunction()"
                showLabels="true"
								donutLabelsOutside="true"
								donut="true" donutRatio=".45">
							<svg width="350"></svg>
						</nvd3-pie-chart>
					</div>



				</li>


				<li class="list-group-item">
					<h4 class="list-group-item-heading">Category Statistics</h4>
				</li>

			</div>

		</div> <!-- col-sm-6 -->
	</div>    
</div> <!-- main-content-container -->

