<div class="mainbar">Item
</div>

<div class="main-content-container">

	<div class="row">
		<div class="col-md-6">
			<h3 class="modal-title">{{ data['object-item']['title'] }}</h3>
			<div class="inverted-rounded-box">
			ID: {{ data['object-item-id'] }}
			</div>
		</div>
		<div class="col-md-6">
			<nvd3 options="graphTestResultOptions" data="graphTestResultData"></nvd3>
		</div>
	</div> <!-- row -->

  <uib-tabset>
    <uib-tab heading="Description">
			<br>
			<div class="row">
				<div class="col-md-8">
					<div class="markdown-env">
						<div ng-bind-html="data['__description'] | toHtmlSave : data['__attachments']"></div>
					</div>
					<hr >
					<h2>Attachments:</h2>
					<br>
					<ul class="list-group">
						<div ng-repeat="attachments in data['__attachments']">
							<li class="list-group-item clearfix">
								<span class="glyphicon glyphicon-file"></span>
								{{ attachments['name'] }} ({{ attachments['size-real'] }} byte)
								<span class="pull-right">
								<div ng-switch on="attachments.type">
									<div ng-switch-when="undefined">
										<a ng-href="api/v1/data/{{ attachments['data-id'] }}" class="btn btn-xs" role="button">
											<span class="glyphicon glyphicon-download"></span>
										</a>
									</div>
									<div ng-switch-default>
										<a ng-href="api/v1/data-snippet/{{ attachments['data-id'] }}" class="btn btn-xs" role="button">
											<span class="glyphicon glyphicon-download"></span>
										</a>
									</div>
								</div>
								</span>
							</li>
							</a>
						</div>
					</ul>
				</div> <!-- col8 -->
				<div class="col-md-4">

					<div class="list-group">
						<div class="list-group-item">
							<h5 class="list-group-item-heading"><span class="glyphicon
							glyphicon-tasks" aria-hidden="true"></span>
								Category:<br><br>
							<span ng-bind-html="categories | toHtmlSave : nil"></span>
							</h5>
						</div>
					</div>

					<div class="list-group">
						<div class="list-group-item">
							<h5 class="list-group-item-heading"><span class="glyphicon
									glyphicon-user" aria-hidden="true"></span>
								Responsible:<br><br>
								{{ responsible }}</h5>
						</div>
					</div>

					<div class="list-group">
						<div class="list-group-item">
							<h5 class="list-group-item-heading"><span class="glyphicon
							glyphicon-eye-open" aria-hidden="true"></span>
								Tags:<br><br>
								{{ tags }}</h5>
						</div>
					</div>

					<div class="list-group">
						<div class="list-group-item">
							<h5 class="list-group-item-heading"><span class="glyphicon
							glyphicon-link" aria-hidden="true"></span>
								References:<br><br>
								{{ references }}</h5>
						</div>
					</div>

					<div class="list-group">
						<div class="list-group-item">
							<h5 class="list-group-item-heading"><span class="glyphicon
							glyphicon-time" aria-hidden="true"></span> Added:<br><br>
						{{ date_added }}</h5>
						</div>
					</div>

					<div class="list-group">
						<div class="list-group-item">
							<h5 class="list-group-item-heading"><span class="glyphicon
							glyphicon-time" aria-hidden="true"></span> 
							Lifetime:<br><br> {{ lifetime }}</h5>
						</div>
					</div>

				</div> <!-- col-md-4 -->
			</div> <!-- row -->


	</uib-tab>
	<uib-tab heading="Achievements">
		<div ng-switch on="conflict">
			<div ng-switch-when="true">
								<div class="variety-container">
							<div ng-repeat="variety in varieties">

									<div class="variety-entry">
										<div class="variety-header-box">
											<div class="variety-header-title">
												Variety ID: {{variety['variety-id']}}
											</div>
							        <div ng-repeat="variety_data in variety['variety']">
												{{variety_data[0]}} : {{variety_data[1]}}<br>
											</div>
										</div>

										<div ng-repeat="achievement in variety['achievements']">
											<a ng-href="#/item/{{id}}/{{data['subcontainer'][index]['sha-minor']}}/{{achievement['id']}}">
											<div class="achievement-box">
												ID: {{ achievement['id'] }}<br>
												Anchor: {{achievement['anchor'] }}<br>
												Status: {{ achievement['result'] }}<br>
												Submitter: {{ achievement['submitter'] }} <br>
												Date Tested:  <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ achievement['test-date'] }} <br>
												Date Uploaded: <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{achievement['date-added'] }}<br>
											</div>
											</a>
										</div>

									</div>
								</div> <!-- variety-entry -->
							</div> <!-- variety-container -->
			</div>
			<div ng-switch-default>
				<div class="variety-container">
							<div ng-repeat="variety in varieties">

									<div class="variety-entry">
										<div class="variety-header-box">
											<div class="variety-header-title">
												Variety ID: {{variety['variety-id']}}
											</div>
							        <div ng-repeat="variety_data in variety['variety']">
												{{variety_data[0]}} : {{variety_data[1]}}<br>
											</div>
										</div>
										<!-- <div ng-repeat="subcontainer in data['subcontainer']"> -->
										<div ng-repeat="achievement in variety['achievements']">
											<a ng-href="#/item/{{id}}/{{data['subcontainer'][index]['sha-minor']}}/{{achievement['id']}}">
											<div class="achievement-box">
												ID: {{ achievement['id'] }}<br>
												Anchor: {{achievement['anchor'] }}<br>
												Status: {{ achievement['result'] }}<br>
												Submitter: {{ achievement['submitter'] }} <br>
												Date Tested:  <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ achievement['test-date'] }} <br>
												Date Uploaded: <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{achievement['date-added'] }}<br>
											</div>
											</a>
										</div>
										<!-- </div> -->

									</div>
								</div> <!-- variety-entry -->
							</div> <!-- variety-container -->
				</div>
			</div>
    </uib-tab>

    <uib-tab heading="Settings">

    <h4>Change Maturity Level:</h4>

			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-default">Testing</button>
				<button type="button" class="btn btn-default">Stable</button>
				<button type="button" class="btn btn-default">Outdated</button>
			</div>

	</uib-tab>

	<uib-tab heading="Conflicts" index="0" ng-if="conflict">
    <!-- <div ng-switch on ="conflict"> -->
		<!-- <div ng-switch-when="true"> -->
		    <!-- <uib-tab heading="Conflicts"> -->
						<div class="panel panel-default">
							<div class="panel-heading"><h4> Multiple container content is detected</h4></div>
							<div class="panel-body">
								<p>Some tests obviously are in some aspects similiar.</p>
							<table class="table">
							<thead>
							<tr>
								<th>Subcontainer-ID</th>
								<th>Last Submitter</th>
								<th>Last Test Date</th>
							</tr>
							</thead>
							<tr ng-repeat="container in data['subcontainer']">
							<td>
							<a ng-href="#/item/{{id}}/{{container['sha-minor']}}">
							{{container['sha-minor']}}
							</a>
							</td>
							<!-- fetching last submitter and date by index 0 because reverse store process by API -->
							<td>{{container['object-achievements'][0]['submitter']}}</td>
							<td>{{container['object-achievements'][0]['test-date']}}</td>
							</tr>
							</table>
						</div>
						</div>
			<!-- </uib-tab> -->
		<!-- </div> -->
		<!-- <div ng-switch-default></div> -->
	<!-- </div> -->
	</uib-tab>
  </uib-tabset>




</div> <!-- main-content-container -->

